// type
$font-family-default: "Helvetica Neue", Helvetica, STHeiTi,Arial, sans-serif !default;
$font-size-default: 15px !default;
$font-weight: 500 !default;
$line-height-default: 22px !default;
$default-background-color: #ebebeb !default;

//color-----
//main theme colors
$primary-color: #f60 !default;
$opposite-color: #5288d1 !default;

$default-color: #111 !default;
$second-color: #666 !default;
$white-color: #fff !default;

// background color
$card-bg: #fff !default;

// border
$border-default-width: 1px;
$border-default: $border-default-width solid #ddd;
$border-radius: 2px !default;
$border-color: #ddd;

// font-size
$big-font-size: 17px;
$bigger-font-size: 20px;
$normal-font-size: 15px;
$small-font-size: 13px;
$smaller-font-size: 12px;
