@import "reset";
@import "buttons";


.modal-bg{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 99999;
    .modal{
        background-color: #fff;
        border-radius: 3px;
        width: 240px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform:translate(-50%,-50%);
        overflow: hidden;
        .modal-hd{
            height: 40px;
            padding: 5px 12px;
            line-height: 29px;
            font-size: $big-font-size;
            border-bottom: 1px solid $border-color;
            font-weight: bold;
            background-color: #f1f1f1;
        }
        .modal-bd{
            padding: 10px 12px;
            .tip{
                text-align: center;
                margin: 30px 0;
            }
        }
        .modal-ft{
            border-top: 1px solid $primary-color;
            height: 40px;
            line-height: 39px;
            @include clearfix;
            a{
                float: left;
                width: 50%;
                text-align: center;
                color: $primary-color;
                &.btn-cancel{
                    text-align: center;
                }
                &.btn-ensure{
                    border-left: 1px solid $primary-color;
                }
            }
            
        }
    }
}

// qa-box
.qa-box{
    padding:10px 0 10px 58px;
    .author{
        float: left;
        margin-left: -58px;
        width: 48px;
        .avatar{
            @extend %avatar;    
        }
    }
    .name{
        font-size: $normal-font-size;
        color: $primary-color;
        font-weight: bold;
        display: block;
        word-wrap: break-word;
        word-break: break-all;
        line-height: 1.5;
        margin-bottom: 5px;
    }
    .breif{
        font-size: $normal-font-size;
        display: block;
    }
    .operate{
        @include clearfix;
        text-align: right;
        .btn{
            margin-left: 7px;
        }
    }
    footer{
        @include clearfix;
        .replay{
            text-align: right;
            width: 30%;
            overflow: hidden;
            color: $second-color;
            font-size: $smaller-font-size;
            float: right;
        }
        .label-box{
            float: left;
            width: 70%;
            overflow: hidden;
        }
    }
}

// label
.label-box{
    @include clearfix;
    .label{
        float: left;
        margin-right: 10px;
        border-radius: 2px;
        border: 1px solid $primary-color;
        color: $primary-color;
        padding: 3px 5px;
        font-size: $small-font-size;
        line-height: $small-font-size;
    }
}
// qa
.qa{
    .qa-hd{
        height:48px;
        background-color: $card-bg;
        color: $default-color;
        font-size: $big-font-size;
        position: relative;
        padding-right: 40px;
        padding: 9px 40px 6px 10px;
        .flex{
            @include clearfix;
            float: left;
            width: 100%;
            .flex-cell{
                float: left;
                width: 25%;
                text-align: center;
                span{
                    display: inline-block;
                    line-height: 29px;
                    position: relative;
                    border-bottom: 2px solid #fff;
                }
                &.current span{
                    border-bottom-color: $primary-color;

                }
            }
        }
        .add{
            position: absolute;
            right: 0;
            top: 9px;
            font-size: 30px;
            width: 40px;
            height: 30px;
            text-align: center;
            line-height: 22px;
            color: $second-color;
        }
    }
    .top-banner{
        background-color: $card-bg;
        margin-bottom: 10px;
    }
    .submit-tip{
        font-size: 20px;
        font-weight: bold;
        color: $primary-color;
        text-align: center;
        padding: 38px 12px;
    }
    .qa-list{
        .similar{
            height: 30px;
            line-height: 30px;
            padding-left: 12px;
        }
        .card{
            @include card;
            .card-hd{
                padding:12px 0;
                @include clearfix;
                h3{
                    font-size: $big-font-size;
                    font-weight: bold;
                    line-height: $big-font-size * 1.2;
                    margin-bottom: 10px;
                }
            }
            .card-bd{
                position: relative;
                border-top: 1px solid $border-color;
                @include clearfix;
                &.noborder{
                    border-top:none;
                }
                &.goods{
                    font-size: $small-font-size;
                    padding-left: 0;
                    .tip{
                        color: $second-color;
                    }
                    .goods-detail{
                        padding-left: 80px;
                        @include clearfix;
                        .goods-img{
                            width: 70px;
                            height: 55px;
                            float: left;
                            margin-left: -80px;
                        }
                        .goods-name{
                            line-height: 14px;
                        }
                        .goods-price{
                            line-height: 18px;
                            color: $primary-color;
                            font-size: $big-font-size;
                            font-weight: bold;
                        }
                    }
                    .reason{
                        color: $second-color;
                    }
                }
            }
        }
    }
    .qa-author{
        border-bottom: 1px solid $border-color;
        background-color: $white-color;
        padding: 0 12px;
        margin-bottom: 10px;
        .author-hd{
            padding:10px 35px 10px 78px;
            @include clearfix;
            position: relative;
            .avatar{
                @extend %avatar; 
                float: left;
                width: 68px;
                height: 68px;
                margin-left: -78px;   
            }
            .name{
                font-size: $big-font-size;
                padding-top: 9px;
                word-wrap: break-word;
                word-break: break-all;
            }
            .job{
                font-size: $big-font-size;
                font-weight: bold;
                color: $primary-color;
            }
            .follow{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 45px;
                width: 100px;
                height: 50px;
                text-align: right;
                .number{
                }
                .btn{}
            }
        }
        .breif{
            border-top: 1px solid $border-color;
            padding: 10px 20px;
            .hd{
                font-size: $normal-font-size;
            }
            .bd{
                font-size: $small-font-size;
                line-height: 1.5;
            }
            .nav{
                font-size: $small-font-size;
                text-align: center;
                margin-top: 10px;
                .current,.interval{
                    color: $primary-color;
                }
                .interval{
                    margin: 0 5px;
                }
            }
        }
    }
}
.qa-ask{
    .baby{
        border-bottom: 1px solid $border-color;
        font-size: $big-font-size;
        .hd{
            padding: 20px 10px 10px 30px;
            .title{
                float: left;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .box{
                @include clearfix;
                .name{
                    float: left;
                    margin-right: 10px;
                    display: inline-block;
                    height: 28px;
                    line-height: 28px;
                    padding: 0 10px;
                    background-color: #f5f5f5;
                    border-radius: 3px;
                    margin-bottom: 10px;
                    &.add-btn{
                        width: 48px;
                        text-align: center;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
        }
        .add{
            border-top: 1px solid $border-color;
            background-color: #f4f4f4;
            padding: 15px 14% 5px;
            font-size: $big-font-size;
            display: none;
            .item{
                height: 30px;
                margin-bottom: 10px;
                padding-left: 60px;
                @include clearfix;
                width: 100%;
                .label{
                    float: left;
                    margin-left: -60px;
                    height: 30px;
                    line-height: 30px;
                    width: 60px;
                    text-align: right;
                }
                select{
                    margin-right: 10px;
                    width: 100%;
                    &.time{
                        width: 45%;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
                input[type=text]{
                    width: 100%;
                    height: 30px;
                    border: 1px solid $border-color;
                    border-radius: 3px;
                    padding: 0 5px;
                }
                .radio{
                    margin-right: 20px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .question{
        padding: 20px 10%;
        .type{
            @include clearfix;
            font-size: $normal-font-size;
            .label{
                float: left;
                display: inline-block;
                margin-left: 5px;
                height: 28px;
                line-height: 28px;
                padding: 0 10px;
                background-color: #f5f5f5;
                border-radius: 5px;
                margin-bottom: 10px;
                &:first-child{
                    margin-left: 0;
                }
                &.select{
                    background-color: $primary-color;
                    color: $white-color;
                }
            }
        }
        .content{
            textarea{
                width: 100%;
                background-color: #f4f4f4;
                border: 1px solid $border-color;
                height: 150px;
                font-size: $normal-font-size;
            }
            .btn{
                margin-top: 10px;
            }
        }
    }
}

.index-page{
    .top-banner{
        background: url(../images/top-banner.jpg) no-repeat center;
        background-size: cover;
        height: 220px;
        overflow: hidden;
        padding: 120px 0 28px;
        text-align: center;
        .text{
            color: #fff;
            text-shadow: 0 2px 2px #000;
            font-size: 28px;
            text-align: center;
        }
        .btn{
            display: inline-block;
            width: 50%;
            height: 40px;
            line-height: 32px;
            background-color: $primary-color;
            color: $white-color;
            text-align: center;
            margin-top: 18px;
            font-size: 20px;
        }
        @media all and (min-width: 321px) and (max-width: 480px){
            height: 280px;
            padding-top: 180px;
        }
    }
    .nav-flex{
        @include clearfix;
        padding: 10px 1%;
        width: 100%;
        .flex-cell{
            float: left;
            width: 31%;
            text-align: center;
            margin: 0 1%;
            border: 1px solid $border-color;
            border-radius: 5px;
            overflow: hidden;
            height: 110px;
            padding-bottom: 26px;
            position: relative;
            .bg{
                display: block;
                width: 100%;
                height: 100%;
                background: #e2e2e2 url(../images/nav-1.jpg) no-repeat center;
                background-size: contain;
            }
            .text{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                background-color: $white-color;
                height: 26px;
                line-height: 26px;
                font-size: $big-font-size;
            }
            &.item2 .bg{
                background: #e2e2e2 url(../images/nav-2.jpg) no-repeat center;
                background-size: contain;
            }
            &.item3 .bg{
                background: #e2e2e2 url(../images/nav-3.jpg) no-repeat center;
                background-size: contain;
            }
            @media all and (min-width: 321px) and (max-width: 480px){
                height: 140px;
                padding-bottom: 32px;
                .text{
                    height: 32px;
                    line-height: 32px;
                }
            }
        }
    }
    .have-eat{
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        background-color: $card-bg;
        padding: 0 15px;
        margin-bottom: 10px;
        .hd{
            line-height: 40px;
            height: 40px;
            h2{
                color: $primary-color;
                font-size: 18px;
                float: left;
            }
            .more{
                font-size: $normal-font-size;
                color: $second-color;
                float: right;
            }
        }
        .bd{
            @include clearfix;
            .item{
                float: left;
                width: 50%;
                text-align: center;
                margin-bottom: 10px;
                .box{
                    border: 1px solid $border-color;
                    position: relative;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    .text{
                        width: 120px;
                        height: 80px;
                        background-color: rgba(255,255,255,0.8);
                        color: #a15a0f;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform:translate(-50%,-50%);
                        padding: 18px 5px;
                        overflow: hidden;
                        h3{
                            font-size: $big-font-size;
                        }
                        p{
                            font-size: $normal-font-size;
                            overflow: hidden;
                            height: 22px;
                        }
                    }
                }
                &:nth-of-type(2n-1){
                    padding-right: 5px;
                }
                &:nth-of-type(2n){
                    padding-left: 5px;
                }
            }
        }
    }
    .yummy{
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        background-color: $card-bg;
        padding: 0 15px;
        margin-bottom: 10px;
        .hd{
            line-height: 40px;
            height: 40px;
            h2{
                color: $primary-color;
                font-size: 18px;
                float: left;
            }
            .more{
                font-size: $normal-font-size;
                color: $second-color;
                float: right;
            }
        }
        .bd{
            .list{
                .item{
                    .img{
                        position: relative;
                        display: block;
                        width: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        .remark{
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            height: 40px;
                            width: 100%;
                            background-color: rgba(0,0,0,0.7);
                            line-height: 40px;
                            padding: 0 10px;
                            .price{
                                color: $primary-color;
                                font-size: $bigger-font-size;
                            }
                            .breif{
                                font-size: $normal-font-size;
                                color: #fff;
                                width: 70%;
                                overflow: hidden;
                                text-align: right;
                            }
                        }
                    }
                    .detail{
                        padding:10px 0 10px 58px;
                        @include clearfix;
                        .author{
                            float: left;
                            margin-left: -58px;
                            width: 48px;
                            .avatar{
                                @extend %avatar;    
                            }
                        }
                        .name{
                            font-size: $normal-font-size;
                            color: $primary-color;
                            font-weight: bold;
                            display: block;
                            margin-bottom: 5px;
                            word-wrap: break-word;
                            word-break: break-all;
                        }
                        .breif{
                            font-size: $normal-font-size;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

// housekeeper
.housekeeper-page{
    background-color: #fff;
    .question{
        .flex{
            width: 100%;
            @include clearfix;
            border-bottom: 1px solid $border-color;
            .flex-cell{
                float: left;
                width: 33%;
                font-size: $normal-font-size;
                height: 40px;
                line-height: 40px;
                text-align: center;
                position: relative;
                &.current:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $primary-color;
                    overflow: hidden;
                }
            }
        }
        .list{
            .item{
                display: none;
                &.current{
                    display: block;
                }
                .qa-box{
                    padding:10px 10px 10px 78px;
                    border-bottom: 1px solid $border-color;
                }
                .answer{
                    padding: 10px 15px 15px;
                    border-bottom: 1px solid $border-color;
                    .textarea{
                        width: 100%;
                        height: 150px;
                        border: 1px solid $border-color;
                    }
                    .goods{
                        position: relative;
                        padding-top: 10px;
                        @include clearfix;
                        .close{
                            position: absolute;
                            right: 0;
                            top: 10px;
                            z-index: 111;
                            @extend %icon;
                        }
                        .goods-detail{
                            @include clearfix;
                            .goods-img{
                                float: left;
                                width: 70px;
                                height: 55px;
                            }
                            .goods-name{
                                font-size: $normal-font-size;
                                display: block;
                            }
                            .goods-price{
                                color: $primary-color;
                                font-size: $normal-font-size;
                                .number{
                                    font-size: $big-font-size;
                                    margin-right: 10px;
                                }
                            }
                        }
                        .reason{
                            border: 1px solid $border-color;
                            background-color: #eee;
                            font-size: $small-font-size;
                            line-height: 15px;
                            margin-top: 5px;
                            padding: 5px;
                            color: $second-color;
                            width: 100%;
                            height: 60px;
                        }
                        .btn-ok{
                            float: right;
                            width: 80px;
                            height: 30px;
                            line-height: 30px;
                            background-color: $primary-color;
                            color: #fff;
                            text-align: center;
                            border-radius: 3px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}
.recommend-goods{
    padding: 40px 15px;
    .hd{
        height: 40px;
        line-height: 38px;
        font-size: $normal-font-size;
        border: 1px solid $border-color;
        position: relative;
        .search{
            width: 100%;
            height: 100%;
            padding: 0;
            border: none;
            padding-right: 50px;
        }
        .search-btn{
            width: 45px;
            height: 40px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .list{
        .item{
            @include clearfix;
            margin-top: 10px;
            border: 1px solid $border-color;
            padding: 10px 0 10px 10px;
            .check{
                float: left;
                margin: 17px 10px 17px 0;
            }
            .goods-img{
                float: left;
                width: 70px;
                height: 55px;
            }
            .goods-price{
                float: left;
                margin-left: 10px;
                font-size: $big-font-size;
                font-weight: bold;
                color: $primary-color;
                line-height: 55px;
            }
            .reward{
                float: left;
                margin-left: 10px;
                color: $primary-color;
                line-height: 55px;
            }
        }
    }
    .btn{
        margin-top: 10px;
        float: right;
        width: 70px;
        text-align: center;
    }
}
.housekeeper-page{
    .wealth{
        .hd{
            background-color: $primary-color;
            padding: 14px 20px 14px 80px;
            height: 88px;
            .box{
                display: inline-block;
                margin: 0 auto;
                margin-right: -50px;
                line-height: 30px;
                .row{
                    @include clearfix;
                    color: #fff;
                    .label{
                        float: left;
                        margin-right: 10px;
                    }
                    .num{
                        float: left;
                        font-size: 24px;
                    }
                    .btn-cash{
                        float: left;
                        margin-left: 15px;
                        background-color: #ffd042;
                        color: $primary-color;
                        height: 23px;
                        line-height: 23px;
                        padding: 0 8px;
                        border-radius: 4px;
                        font-size: $small-font-size;
                        margin-top: 3px;
                    }
                }
            }
        }
        .bd{
            .tab-hd{
                padding: 10px 15px;
                a{
                    &.current{
                        color: $primary-color;
                    }
                }
                .interval{
                    display: inline-block;
                    color: $second-color;
                }
            }
            .tab-bd{
                .item{
                    display: none;
                    .ul{
                        margin: 0 12px;
                        .li{
                            border: 1px solid $border-color;
                            padding: 6px 50px 6px 85px;
                            line-height: 20px;
                            position: relative;
                            margin-bottom: 10px;
                            .time{
                                float: left;
                                margin-left: -75px;
                                color: $second-color;
                                font-size: $small-font-size;
                            }
                            .text{
                                font-size: $normal-font-size;
                            }
                            .opr{
                                position: absolute;
                                width: 40px;
                                right: 50px;
                                top: 6px;
                                margin-right: -40px;
                                text-align: right;
                                color: $primary-color;
                                font-size: $small-font-size;
                            }
                        }
                    }
                    &.current{
                        display: block;
                    }
                }
            }
            &.invitation-list{
                .ul{
                    padding: 10px;
                    margin-top: 10px;
                    .li{
                        padding-left: 58px;
                        width: 100%;
                        margin-bottom: 10px;
                        @include clearfix;
                        height: 48px;
                        .avatar{
                            @extend %avatar;  
                            margin-left: -58px; 
                            float: left; 
                        }
                        .name{
                            font-size: $normal-font-size;
                        }
                        .datail{
                            font-size: $small-font-size;
                            color: $second-color;
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }
}

.invitation{
    .hd{
        height: 170px;
        padding: 40px 0;
        text-align: center;
        background-color: $primary-color;
        .avatar{
            @extend %avatar;  
            height: 90px;
            width: 90px;
            display: inline-block;
        }
    }
    .bd{
        .text{
            padding: 20px;
            .big{
                font-weight: bold;
            }
            .tip{
                line-height: 1.4;
                margin-top: 5px;
            }
        }
        .form{
            .item{
                height: 41px;
                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
                padding: 5px 10px 5px 90px;
                position: relative;
                margin-bottom: 10px;
                background-color: #fff;
                @include clearfix;
                .label{
                    float: left;
                    width: 80px;
                    margin-left: -80px;
                    line-height: 30px;
                }
                .input{
                    border:none;
                    line-height: 30px;
                    width: 100%;
                    float: left;
                }
                &.yzm-item{
                    padding-right: 110px;
                    .yzm{
                        float: right;
                        width: 100px;
                        margin-right: -100px;
                        text-align: center;
                        line-height: 30px;
                        color: #4095f6;
                        border-left: 1px solid $border-color;
                    }
                }
            }
        }
        .padding{
            padding: 20px 16%;
            .btn-ok{
                height: 36px;
                line-height: 36px;
                width: 100%;
                border-radius: 18px;
                text-align: center;
                background-color: $primary-color;
                display: block;
                color: #fff;
            }
        }
        
    }
}

