@import "reset";
@mixin rounded-corner($arc){
    -webkit-border-radius:$arc;
       -moz-border-radius:$arc;
           border-radius: $arc;
}
@mixin rotate($angle){
    -webkit-transform:rotate($angle);
        -ms-transform:rotate($angle);
         -o-transform:rotate($angle); 
            transform:rotate($angle);
}
@mixin transform($lper,$tper){
    -webkit-transform: translate($lper,$tper);
        -ms-transform: translate($lper,$tper);
         -o-transform: translate($lper,$tper); 
            transform: translate($lper,$tper);
}
@mixin arrow($w,$bw,$bc,$nc){
    display: block;
    width: $w;
    height: $w;
    border:$bw solid $bc;
    border-top-color: $nc;
    border-right-color: $nc;
    background-color: $nc;
}
@mixin ellip{
    overflow: hidden;
    white-space: nowrap;   
    text-overflow: ellipsis;
}
@mixin flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
        .flex-cell{
        -webkit-box-flex:1;
           -moz-box-flex:1;
                box-flex:1;
                -ms-flex:1;
            -webkit-flex:1;
               -moz-flex:1;
                    flex:1;
    
    }
}
%bg-image{
  background-size: cover;
  background-position: center center;
}

.header{
    height: 45px;
    line-height: 45px;
    font-size: 19px;
    background-color: $blue;
    color: $yellow;
    .title{
        font-size: 19px;
        text-align: center;
        line-height: 45px;
        overflow: hidden;
        color: $yellow;
        font-weight: normal;
        img{
            display: inline-block;
            width: 30%;
            margin-right: 5px;
        }
    }
}



.index{
    .slide{
        .slide-wrap{
            position: relative;
            overflow: hidden;
            width: 100%;
            .slide-ul{
                overflow: hidden;
                position: relative;
                .slider-li{
                    float: left;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    text-align: center;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            .slide-point{
                position: absolute;
                bottom:10px;
                text-align: center;
                width: 100%;
                .icon-point{
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    margin: 0 2px;
                    border-radius: 50%;
                    border:1px solid #8d8870;
                    background-color: #fff;
                    cursor: pointer;
                    &.active{
                        background-color: #8d8870;
                    }
                }
            }
        }
    }
}