@import "reset";
@import "buttons";

%avatar{
    background: url(../images/avatar.jpg) no-repeat center;
    background-size: cover;
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.container{
    width: 100%;
}

// qa
.qa{
    .qa-hd{
        height:48px;
        background-color: $card-bg;
        color: $default-color;
        font-size: $big-font-size;
        position: relative;
        padding-right: 40px;
        padding: 9px 40px 6px 10px;
        .flex{
            @include flex;
            float: left;
            width: 100%;
            .flex-cell{
                line-height: 30px;
                text-align: center;
            }
        }
        .add{
            position: absolute;
            right: 0;
            top: 9px;
            font-size: 30px;
            width: 40px;
            height: 30px;
            text-align: center;
            line-height: 22px;
            color: $second-color;
        }
    }
    .top-banner{
        background-color: $card-bg;
        margin-bottom: 10px;
    }
    .qa-list{
        .card{
            @include card;
            .card-hd{
                padding:12px 0;
                h3{
                    font-size: $big-font-size;
                    font-weight: bold;
                    line-height: $big-font-size * 1.2;
                    margin-bottom: 10px;
                }
                .label-box{
                    @include clearfix;
                    .label{
                        float: left;
                        margin-right: 10px;
                        border-radius: 2px;
                        border: 1px solid $primary-color;
                        color: $primary-color;
                        padding: 3px 5px;
                        font-size: $small-font-size;
                        line-height: $small-font-size;
                    }
                }
            }
            .card-bd{
                position: relative;
                padding:10px 0 10px 58px;
                border-top: 1px solid $border-color;
                &.noborder{
                    border-top:none;
                }
                .author{
                    float: left;
                    margin-left: -58px;
                    width: 48px;
                    .avatar{
                        @extend %avatar;    
                    }
                    .name{
                        font-size: $normal-font-size;
                        color: $primary-color;
                        font-weight: bold;
                        display: block;
                        text-align: center;
                        margin-top: 5px;
                    }
                }
                .breif{
                    font-size: $normal-font-size;
                    display: block;
                }
                .operate{
                    @include clearfix;
                    text-align: right;
                    .btn{
                        margin-left: 7px;
                    }
                }
                .replay{
                    text-align: right;
                    color: $second-color;
                    font-size: $small-font-size;
                }
                &.goods{
                    font-size: $small-font-size;
                    padding-left: 0;
                    .tip{
                        color: $second-color;
                    }
                    .goods-detail{
                        padding-left: 80px;
                        @include clearfix;
                        .goods-img{
                            width: 70px;
                            height: 55px;
                            float: left;
                            margin-left: -80px;
                        }
                        .goods-name{
                            line-height: 14px;
                        }
                        .goods-price{
                            line-height: 18px;
                            color: $primary-color;
                            font-size: $big-font-size;
                            font-weight: bold;
                        }
                    }
                    .reason{
                        color: $second-color;
                    }
                }
            }
        }
    }
    .qa-author{
        padding:10px 45px 10px 88px;
        @include clearfix;
        border-bottom: 1px solid $border-color;
        background-color: $white-color;
        margin-bottom: 10px;
        position: relative;
        .avatar{
            @extend %avatar; 
            float: left;
            width: 68px;
            height: 68px;
            margin-left: -78px;   
        }
        .name{
        }
        .job{
        }
        .follow{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 45px;
            width: 100px;
            height: 50px;
            text-align: right;
            .number{
            }
            .btn{}
        }
    }
    
}